html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    width: 90%;
    margin: auto;
}
.flexible{
    display: flex;
}
section{
    padding-bottom: 0px;
    height: 100vh;
    width: 100%;
}
img{
    width: 100%;
}
.half-width{
    width: 50%;
}
/* ========= Header area ========== */
header{
    height: 100vh;
    padding-bottom: 200px;
    margin: auto;
}
.nav img{
    width: 60px;
    margin-top: 10px;
    
}
.nav-item{
    text-align: right;
    margin-left:570px;
}
.nav-item li {
    display: inline-block;
    margin-right: 50px;
}
.nav li a{
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    font-weight: bold;
}
.active{
    color: #FE4D30 !important;
    font-weight: bold;
}

/* ========== Banner area ======== */

.banner-content{
    width: 50%;
    margin: auto;
}
.banner-content h1{
    font-size: 3em;
    margin-bottom: 15px;
}
.banner-content p{
    font-size: 1.2em;
    color: gray;
    font-weight: 100;
    padding-bottom: 10px;
}
.banner-content span{
    color: orange;
}
.btn{
    text-decoration: none;
    font-size: 1em;
    background-image: linear-gradient(#ff416d,#ff4b2bf6);
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    box-shadow: rgba(100, 100, 111, 0.2);
}
/* ========== About Area ========= */
.about-area{
    background-image: url(images/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: auto;
}
.about{
    margin-top: 60px;
}
.about-content{
    margin: auto;
}
.about-content h2{
    font-size: 2.2em;
    color: tomato;
}
.about-content p{
    text-align: justify;
    padding-bottom: 20px;
    color: gray;
}

/* ========== Recipies area ============ */
.recipie-area{
    padding-bottom: 200px;
}
.section-head{
    text-align: center;
    padding-top: 15px;
}
.section-head h2{
    font-size: 2.2em;
    color: tomato;
}
.section-head p{
    text-align: inherit;
    width: 60%;
    margin: auto;
    padding-bottom: 40px;
}
.recipe-item{
    width: 25%;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
.recipe-item h3{
    color:#0a3d62;
}
/* ========== Review Section ========== */
.review-area{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.review-item{
    text-align: center;
    padding: 50px;
    width: 60%;
    margin: auto;
}
.review-item img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.review-item h3{
    color:#706fd3;
    font-size: 1.5em;
}
.review-dot{
    margin: auto;
    justify-content: center;
}
.dots{
    height: 15px;
    width: 15px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 50%;
    margin-right: 10px;
    text-align: center;
}
.dot-active{
    background-color: #B53471 !important;
}